header {
    background-color: #333;
    padding:  15px;
}

.container {
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .container nav {
    display: flex;
    justify-content: space-between;
}

header .container nav a {
    color: #fafafa;
    text-decoration: none;
    font-size: 1.2em;
    padding: 15px 15px;
    align-self: center;
    

}

.texto p {
    font-style: italic;
    text-align: center;
}

.cafes, p, h1, h2 {
    text-align: center;
}

.rodape p {
    text-align: left;
}